[Unit]
Description=Neptune service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -u /home/ubuntu/neptune/rec.py
WorkingDirectory=/home/ubuntu/neptune
User=ubuntu


[Install]
WantedBy=multi-user.target
