[Unit]
Description=Neptune service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/python3 -u /home/pi/neptune/rec.py
WorkingDirectory=/home/pi/neptune
User=pi


[Install]
WantedBy=multi-user.target
